{% extends 'base.html' %}

{% block extra_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <img src="/static/assets/unnamed.png" alt="animals-logo">
        </div>
        <div class="col-3 logo-container">
        </div>
    </div>
{% endblock %}

{% block main-nav %}
    <ul class="nav justify-content-center  nav-panel">
        <li class="nav-item">
            <a class="nav-link nav-link-main active" href="/">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/pet/">our pets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/employee/">employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/about_us/">about us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/review/" tabindex="-1" aria-disabled="true">reviews</a>
        </li>
    </ul>
{% endblock %}

{% block left_navigation %}
    <div class="col-3 left-nav">
        <nav class="nav flex-column">
            <a class="nav-link nav-link-left" href="/find_homeless/">Find a homeless pets</a>
            <a class="nav-link nav-link-left" href="/troubles/">Troubles with a pet</a>
            <a class="nav-link  disabled nav-row nav-link-left" href="#" tabindex="-1" aria-disabled="true" >Pick up a pet</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="col-9">
        <h2>Welcome friends!</h2>
        <h3>Who we are:</h3>
        <p>
            Preserved defective offending he daughters on or.
            Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty prevailed suspected am as.
            Add stairs admire all answer the nearer yet length.
            Advantages prosperous remarkably my inhabiting so reasonably be if. Too any appearance announcing impossible one.
            Out mrs means heart ham tears shall power every.
        </p>
        <p>
            Supported neglected met she therefore unwilling discovery remainder.
            Way sentiments two indulgence uncommonly own.
            Diminution to frequently sentiments he connection continuing indulgence. An my exquisite conveying up defective.
            Shameless see the tolerably how continued. She enable men twenty elinor points appear.
            Whose merry ten yet was men seven ought balls.
        </p>
        <p>
            Full he none no side. Uncommonly surrounded considered for him are its. It we is read good soon.
            My to considered delightful invitation announcing of no decisively boisterous.
            Did add dashwoods deficient man concluded additions resources.
            Or landlord packages overcame distance smallest in recurred. Wrong maids or be asked no on enjoy.
            Household few sometimes out attending described. Lain just fact four of am meet high.
        </p>
        <p>
            Greatly hearted has who believe. Drift allow green son walls years for blush.
            Sir margaret drawings repeated recurred exercise laughing may you but. Do repeated whatever to welcomed absolute no.
            Fat surprise although outlived and informed shy dissuade property. Musical by me through he drawing savings an.
            No we stand avoid decay heard mr. Common so wicket appear to sudden worthy on. Shade of offer ye whole stood hoped .
        </p>
        <p>
            Ever man are put down his very. And marry may table him avoid.
            Hard sell it were into it upon. He forbade affixed parties of assured to me windows.
            Happiness him nor she disposing provision. Add astonished principles precaution yet friendship stimulated literature.
            State thing might stand one his plate. Offending or extremity therefore so difficult he on provision.
            Tended depart turned not are.
        </p>
        <h4>Here you can:</h4>
        <ul>
            <li>
                <p>
                    Agreed joy vanity regret met may ladies oppose who.
                    Mile fail as left as hard eyes. Meet made call in mean four year it to. Prospect so branched wondered sensible of up.
                    For gay consisted resolving pronounce sportsman saw discovery not.
                    Northward or household as conveying we earnestly believing. No in up contrasted discretion inhabiting excellence.
                    Entreaties we collecting unpleasant at everything conviction.
                </p>
            </li>
            <li>
                <p>
                    Breakfast agreeable incommode departure it an. By ignorant at on wondered relation.
                    Enough at tastes really so cousin am of. Extensive therefore supported by extremity of contented.
                    Is pursuit compact demesne invited elderly be. View him she roof tell her case has sigh.
                    Moreover is possible he admitted sociable concerns. By in cold no less been sent hard hill.
                </p>
            </li>
            <li>
               <p>
                    Sociable on as carriage my position weddings raillery consider.
                    Peculiar trifling absolute and wandered vicinity property yet.
                    The and collecting motionless difficulty son. His hearing staying ten colonel met. Sex drew six easy four dear cold deny.
                    Moderate children at of outweigh it. Unsatiable it considered invitation he travelling insensible.
                    Consulted admitting oh mr up as described acuteness propriety moonlight.
               </p>
            </li>
            <li>
                <p>
                    On on produce colonel pointed. Just four sold need over how any.
                    In to september suspicion determine he prevailed admitting. On adapted an as affixed limited on.
                    Giving cousin warmly things no spring mr be abroad. Relation breeding be as repeated strictly followed margaret.
                    One gravity son brought shyness waiting regular led ham.
                </p>
            </li>
        </ul>
    </div>
{% endblock %}

{% block footer %}
    <ul class="nav justify-content-center nav-panel">
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/find_homeless/">Find a homeless pets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/troubles/">Troubles with a pet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main disabled" href="#" tabindex="-1" aria-disabled="true" >Pick up a pet</a>
        </li>
    </ul>
{% endblock %}


