{% extends 'base.html' %}

{% block extra_style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <img src="/static/assets/unnamed.png" alt="animals-logo">
        </div>
        <div class="col-3 logo-container">
        </div>
    </div>
{% endblock %}

{% block main-nav %}
    <ul class="nav justify-content-center  nav-panel">
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/">home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/pet/">our pets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main active" href="/employee/">employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/about_us/">about us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/review/" tabindex="-1" aria-disabled="true">reviews</a>
        </li>
    </ul>
{% endblock %}

{% block left_navigation %}
    <div class="col-3 left-nav">
        <nav class="nav flex-column">
            <form class="search-form" action="/employee/">
                <input type="search" name="employeeSearch" placeholder="Employee name...">
                <input class="search-btn" type="submit" value="search">
            </form>
            <a class="nav-link nav-link-left" href="/employee/create/">Add new employee</a>
            <a class="nav-link nav-link-left" href="update/">Edit employee</a>
            <a class="nav-link nav-link-left" href="delete/" tabindex="-1" aria-disabled="true">Delete employee</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="col-7 list-container">
        <div class="card bg-dark text-white">
            <img src="{{ object.photo.url }}" class="card-img detail-img" alt="{{ object.last_name }}">
            <div class="card-img-overlay">
                <h5 class="card-title">{{ employee.first_name }} {{ object.last_name }}</h5>
                <p class="card-text">Position: {{ object.position }}</p>
                <p class="card-text">Num: {{ object.phone_number }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <ul class="nav justify-content-center nav-panel">
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="/employee/create/">Add new employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="update/">Edit employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-main" href="delete/" tabindex="-1" aria-disabled="true">Delete employee</a>
        </li>
    </ul>
{% endblock %}